

html {
    margin:    0 auto;
    min-height:100%;
}


.nav-a div{
    color: white;
    width: 100px;
    justify-content: right;
    text-align: center;
    line-height: 20px;
    text-align: right;

}

.nav-b{
    background-color: rgb(64, 64, 66);
    color: white;
    height:40px;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
}

.nav-b div{
    color: white;
    width: 100px;
    line-height: 20px;
    text-align: center;
    border-radius: 25px;
}

.titleLogo {
    display: flex;
    position: relative;
    border: 5px solid black;
    padding:5px;
    margin:5px;
}

.imageBorder{
    position: relative;

}



.img-fluid {
    border:black 1px solid;
    object-fit: cover;
   opacity: .5;
   width:100vw;


}

.logo {
    position: absolute;
    top: 0;
    left: 15px;

}

#headingGroup {
    width: 100%;
    background-color: rgb(26, 25, 25,.9);
}


.popup{
    width: 100%;
    color: rgb(255, 255, 255,.9);
    font-weight: bold;
    font-size: 40px;
}

.titleText{
    color: rgb(255, 255, 255,.9);
    font-weight: bold;
    padding-top: 10px;
    font-size: 55px;
    position: absolute;
    left:0;
    top:0;
    padding-left: 150px;
    line-height: 1;
}


.titleTextLower1{
    position:absolute;
    color: rgb(255, 255, 255,.9);
    font-weight: bold;
    padding-left: 15px;
    font-size: 30px;
    position: absolute;
    bottom: 75px;
    right: 30px;

}

.titleTextLower2{
    color: rgb(255, 255, 255,.9);
    font-weight: bold;
    padding-left: 15px;
    font-size: 30px;
    position: absolute;
    bottom: 40px;
    right: 30px;
}

.titleTextLower3{
    color: rgb(255, 255, 255,.9);
    font-weight: bold;
    padding-left: 15px;
    font-size: 30px;
    position: absolute;
    bottom: 5px;
    right: 30px;
}



.layer {
    background-color: rgba(20, 20, 32);
 }

 .this2 {
     background-color: pink;
 }

.sumSlid {
    background-color: rgba(20, 20, 32);
}

.summary {
    background-color: rgb(26, 25, 25);
    flex:50%;
    height:300px;
}

.summaryText{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    color: white;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 15px;
}

.summaryTextBody{
    padding: 5px 15px 10px 15px;
    color: white;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.slider {
    text-align: center;
    background-color: rgb(26, 25, 25,.9);
    flex:50%;

}

.outterDiv {
    display:flex
}
.innerDivs {
    flex:50%;
}

.projectListBox{
    border: 1px solid black;

}

.cBody{
    background-color: rgb(26, 25, 25,.9);
    text-align: center;
    display:inline-block;
    border-radius:.5rem;
    box-shadow:4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
    margin:15px;

}

.header_image {
    margin-top: 1em;
    width: 90vh;
    padding:0px 10px 0px 10px;
}

@media only screen and (min-width: 700px) {
    .header_image {
      max-width: 40vw;

    }
  }
  @media only screen and (min-width: 1100px) {
    .header_image {
      max-width: 30vw;
    }
 }

.cardTitle {
    font-size: 40px;
    color: white;
    font-weight: 700;
}

.projectCard{
    font-weight: bold;
    padding: 5px 5px 5px 5px;

}

.projectText{
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 15px;

}

.projectPara {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size:16px;
}

.projectList{

    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
    float: left;
    width: 25%;
    height: 500px;

}

.projectform{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height:100px;
    color: whitesmoke;
    margin-bottom: 18px;

}


.projectWrapper {
    display: inline-block;
    vertical-align: top;
  }
.project {margin: 0 -5px;}


.project:after {
content: "";
display: table;
clear: both;
}

@media screen and (max-width: 600px) {
.projectList {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
}

.recentWork{
padding-top:25px;
   min-height:200px;
   padding-bottom:15px;
}

.container-title {
position: relative;
}

.title{
    color: black;
    text-align: center;
    text-decoration: underline;
}
.formTitle{
    padding-top: 10px;
    font-weight: 700;
    font-size:larger ;
    margin-bottom: 5px;
}

/* .contacts {
    display:flex;
    background-image: url('/render1.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;

} */

#contactTitle {
    color: white;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    background-color: black;
    height:100%;
    padding: 0 0 0 0 !important ;
    margin-bottom:30px;
    text-align: center;

}
#contactForm {
    background-color:black;
    color: white;
    padding-top: 25px;
    padding-bottom: 80px;

}

#contactInfo {
    background-color:black;
    color: white;
    margin-left: 20px;
    padding-top: 25px;
}

#addressForm {
    background-color: rgb(26, 25, 25,.9);
    height: 100%;
}
.centerform{
    background-color: black;
    margin: auto;
    width: 85%;
    padding: 10px;
}
.formField {
    background-color: rgba(62, 63, 77, 0.9);
    height: 30px;
    margin-bottom: 10px;
}

.formFieldProduct{
    background-color: rgba(62, 63, 77, 0.9);
    height: 30px;
}
.formShortRow {
 display:flex;
 padding-bottom: 10px;
}

.shortOne{
    flex:50%;
    padding-right:15px ;
}

.shortTwo{
    flex:50%;

}
.formFieldShort {
    background-color: rgba(62, 63, 77, 0.9);
    height: 30px;
    padding-bottom: 10px
}

.formFieldShort2 {
    background-color: rgba(62, 63, 77, 0.9);
    height: 20px;
    width:95%;
    padding-bottom: 10px;
}

.formMessage {
    background-color: rgba(62, 63, 77, 0.9);
    height: 20px;
    /* width:85%; */
    height: 85px;
}

.formWarn {
    color:red;
    font-size: smaller;
    padding-bottom: 10px;
}

.contactTitle{
    text-align: CENTER;
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding-bottom: 20px;

}

.contactPhone{
    text-align: left;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
}

.contactEmail{
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 55px;
}

.contactAddress{
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;

}

.contactBlurb{
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;

}

.carousel-image{
    padding: 0px !important;
}


.carousel-caption div{
    font-size: 40px;
    color: white;
    font-weight: 700;

}

.carousel-indicators li { visibility: hidden; }


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px !important;
  width: 50px !important;
  background-size: 100%, 100%;
}

.recpro {margin-bottom: 20px;
}

.rempad {
    padding:0px !important;
}
