

html {
    margin:    0 auto;
    min-height:100%;
}


.nav-a div{
    color: white;
    width: 100px;
    justify-content: right;
    text-align: center;
    line-height: 20px;
    text-align: right;

}

.nav-b{
    background-color: rgb(64, 64, 66);
    color: white;
    height:40px;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
}

.nav-b div{
    color: white;
    width: 100px;
    line-height: 20px;
    text-align: right;
}

.titleLogo {
    display: flex;
    position: relative;
    border: 5px solid black;
    padding:5px;
    margin:5px;
}

.imageBorder{
    position: relative;
}



.img-fluid {
    border:black 1px solid;
    object-fit: cover;
   opacity: .5;
}

.logo {
    position: absolute;
    top: 0;
    left: 15px;
}

#headingGroup {
    width: 100%;
    background-color: rgb(26, 25, 25,.9);
}


.popup{
    width: 100%;
    color: rgb(255, 255, 255,.9);
    font-weight: bold;
    font-size: 40px;
}

.titleText{
    color: rgb(255, 255, 255,.9);
    font-weight: bold;
    padding-top: 10px;
    font-size: 55px;
    position: absolute;
    left:0;
    top:0;
    padding-left: 150px;
    line-height: 1;
}


.titleTextLower1{
    position:absolute;
    color: rgb(255, 255, 255,.9);
    font-weight: bold;
    padding-left: 15px;
    font-size: 30px;
    position: absolute;
    bottom: 75px;
    right: 30px;

}

.titleTextLower2{
    color: rgb(255, 255, 255,.9);
    font-weight: bold;
    padding-left: 15px;
    font-size: 30px;
    position: absolute;
    bottom: 40px;
    right: 30px;
}

.titleTextLower3{
    color: rgb(255, 255, 255,.9);
    font-weight: bold;
    padding-left: 15px;
    font-size: 30px;
    position: absolute;
    bottom: 5px;
    right: 30px;
}



.layer {
    background-color: rgba(20, 20, 32);
 }


.sumSlid {
    display:flex;
    height:300px;
    width: auto;
}
.summary {
    background-color: rgb(26, 25, 25);
    flex:50%;
    height:300px;
}

.summaryText{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5px;
}

.summaryTextBody{
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5px;
}


.slider {
    text-align: center;
    background-color: rgb(26, 25, 25,.9);
    flex:50%;

}


.outterDiv {
    display:flex
}
.innerDivs {
    flex:50%;
}

.cardBody{
    background-color: #dfe3e6;
    width: 100%;
    height: 190px;
    text-align: center;
    /* background-color: rgba(5, 80, 177, 0.678); */
    display:inline-block;
    border-radius:.5rem;
    box-shadow:4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
    padding:0;
}

.cardTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

.projectCard{
    font-family:'Courier' ;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
}
.projectText{
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 15px;
}

.projectPara {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size:16px;
}

.projectList{
    width:100%;
    border: solid black;
    border-width: 1px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    height: auto;
    overflow-y: auto;
    max-height:600px;
    text-align: center;
}

.projectform{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height:100px;
    color: whitesmoke;
    margin-bottom: 18px;

}

.container-title {
position: relative;
}
.title{
    color: black;
    text-align: center;
    text-decoration: underline;
}
.formTitle{
    padding-top: 10px;
    font-weight: 700;
    font-size:larger ;
    margin-bottom: 5px;

}
.projectWrapper {
    display: inline-block;
    vertical-align: top;
  }

.header_image {
    margin-top: 1em;
    width: auto;
    height:140px;
    padding:0px 10px 0px 10px;
}

.contact {
    display:flex;
    background-image: url('/render1.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.contactTitle {
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-bottom: 10px;
}
.contactForm {
    background-color: rgb(26, 25, 25,.9);
    flex:50%;
    height:550px;
    color: white;
    padding-left: 10px;
    padding-top: 25px;
}

.contactInfo {
    background-color: rgba(62, 63, 77, 0.9);
    flex:50%;
    height:550px;
    width: 100%;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
}

.formField {
    background-color: rgba(62, 63, 77, 0.9);
    height: 30px;
    width:85%;
    margin-bottom: 10px;
}

.formFieldProduct{
    background-color: rgba(62, 63, 77, 0.9);
    height: 30px;
    width:85%;
}
.formShortRow {
 display:flex;
 width:87%;
 padding-bottom: 10px;
}

.shortOne{
    flex:50%;

}

.shortTwo{
    flex:50%;
}
.formFieldShort {
    background-color: rgba(62, 63, 77, 0.9);
    height: 30px;
    width:95%;
    padding-bottom: 10px
}

.formFieldShort2 {
    background-color: rgba(62, 63, 77, 0.9);
    height: 20px;
    width:95%;
    padding-bottom: 10px;
}

.formMessage {
    background-color: rgba(62, 63, 77, 0.9);
    height: 20px;
    width:85%;
    height: 85px;
}

.formWarn {
    color:red;
    font-size: smaller;
    padding-bottom: 10px;
}

.contactTitle{
    text-align: CENTER;
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding-bottom: 20px;

}

.contactPhone{
    text-align: left;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
}

.contactEmail{
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 55px;
}

.contactAddress{
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
}

.contactBlurb{
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
}

.carouselImage {
    height:300px;
}


.carousel-caption div{
    font-size: 40px;
    color: white;
    font-weight: 700;

}
.carousel-caption{
padding-bottom: 0px !important;
}

.carousel-indicators li { visibility: hidden; }

div.col {
    padding:0px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px !important;
  width: 50px !important;
  background-size: 100%, 100%;
}

