html {
    margin:    0 auto;
    min-height:100%;
    min-width: 300px;
    scroll-behavior: smooth;
    max-width: 960px;
    width: 100%;
    position: relative;
}

/* Navs */
.navTop{
margin-top: 40px;
}

.navWrapper{
    background-color: rgb(64, 64, 66);
    height:40px;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 8px;
     position:fixed;
     top:0;
     width: 100%;
     z-index: 99;
}

.navs {
    color: white;
    width: 100px;
    line-height: 20px;
    text-align: center;
    border-radius: 25px;
}

/* Logo, Title and Title Pic */
#aboutTop{
  padding-top: 35px;
  margin-top: -35px;
}

.titleLogo {
  position: relative;
}

.imageBorder{
  position: relative;

}

.img-fluid {
  border:black 1px solid;
  object-fit: cover;
  opacity: .5;
  width:100vw;
}

.logo {
    position: absolute;
    top: 61px;
    left: 13px;
    z-index: 1;
}

.logo2 {
    position: absolute;
    top: 1px;
    left: 13px;
}

.layer {
    background-color: rgba(20, 20, 32);
 }

 /* Title Text */
#headingGroup {
    width: 100%;
    background-color: rgb(26, 25, 25,.9);
}

.popup{
    width: 100%;
    color: rgb(255, 255, 255,.9);
    font-weight: bold;
    font-size: 40px;
}


@media only screen and (max-width: 365px) {
    .popup{
      font-size: 30px;
    }
    .logo {
        position: absolute;
        top: 49px;
        left: 13px;
        z-index: 1;
    }
  }

.titleText{
  color: rgb(255, 255, 255,.9);
  right: 30px;
  position: absolute;
  font-weight: bold;
  padding-left: 15px;
  font-size: 30px;
}

@media only screen and (max-width: 375px) {
  .titleText {
    font-size: 25px;
  }
}
@media only screen and (max-width: 330px) {
  .titleText {
    font-size: 20px;
  }
}

@media only screen and (max-width: 280px) {
  .titleText {
    font-size: 16px;
  }
}
#top{
    padding-top: 10px;
    font-size: 55px;
    left:0;
    top:0;
    padding-left: 150px;
    line-height: 1;
}

.lower1{
    bottom: 75px;
}

.lower2{
    bottom: 40px;
}

.lower3{
    bottom: 5px;
}

/* Summary and Slider */
.sumSlid {
    background-color: rgba(20, 20, 32);
}

.summary {
    background-color: rgb(26, 25, 25);
    flex:50%;
    height:300px;
}

.summaryText{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 15px;
}

.summaryTextBody{
    padding: 5px 15px 10px 15px;
    color: white;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slider {
    text-align: center;
    background-color: rgb(26, 25, 25,.9);
    flex:50%;
}

/* Recent Work */
.recentWork{
padding-top:25px;
   min-height:200px;
   padding-bottom:15px;
}
.recentText{
    font-size: 24px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 15px;
}
.recentPara {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size:20px;
    padding-top: 10px;
}
/* Project List */

.projectList{
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    float: left;
    height:380px;
    overflow-y: auto;
    border: 1px solid black;
}

.projectListBox{
  margin-left: 20px;
    height:395px;
    width: 95vw;
}
.header_image {
    margin-top: 10px;
    padding:0px 10px 0px 10px;
    width:85vw;
}

@media only screen and (min-width: 400px) {
  .projectList{
    height:300px;
  }
  .projectListBox{
      height:320px;
      width: 96vw;
  }
  .header_image {
    width:60vw;
    }
}

@media only screen and (min-width: 750px) {
  .projectList{
    height:545px;
  }
  .projectListBox{
      height:600px;
      width: 96vw;
  }
  .header_image {
    width:40vw;
    }
}
@media only screen and (min-width: 1100px) {
  .projectList{
    height:545px;
  }
  .projectListBox{
      height:600px;
      width: 96vw;
  }
  .header_image {
    max-width: 20vw;
    }
}
.projectWrapper {
    display: inline-block;
    vertical-align: top;
  }

/* .project:after {
    content: "";
    display: table;
    clear: both;
} */

/* Card Styles */

.cBody{
    background-color: rgb(26, 25, 25,.9);
    text-align: center;
    display:inline-block;
    border-radius:.5rem;
    box-shadow:4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
    margin:15px;

}

.cardTitle {
    font-size: 40px;
    color: white;
    font-weight: 700;
}

/* Contact Us Form */
#formNav{
  padding-top: 35px;
  margin-top: -35px;
}
.centerform{
    background-color: black;
    margin: auto;
    width: 85%;
    padding: 10px;
}

#contactForm {
    background-color:black;
    color: white;
    font-size: 16px;
    padding-bottom: 25px ;
}

.formTitle{
    padding-top: 10px;
    font-weight: 700;
    font-size:larger ;
    margin-bottom: 15px;
    align-content: center;
    font-size: 25px;
    text-align: center;
}

.formField {
    background-color: rgba(62, 63, 77, 0.9);
    height: 30px;
    margin-bottom: 10px;
}

.formShortRow {
  display:flex;
  padding-bottom: 10px;
 }

 .shortOne{
     flex:50%;
     padding-right:15px ;
 }

 .shortTwo{
     flex:50%;

 }
 .formFieldShort {
     background-color: rgba(62, 63, 77, 0.9);
     height: 30px;
     padding-bottom: 10px
 }

.formFieldProduct{
  background-color: rgba(62, 63, 77, 0.9);
  height: 30px;
}

.formMessage {
  background-color: rgba(62, 63, 77, 0.9);
  height: 20px;
  height: 85px;
}

.formWarn {
  color:red;
  font-size: smaller;
  padding-bottom: 10px;
}

/* Contact Info */

#contactInfo {
    background-color: rgb(26, 25, 25,.9);
    color: white;
    padding-top: 25px;
    padding-bottom:200px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: left;
}

.contactTitle {
    font-size: 25px;
    font-weight: 900;
    margin-bottom:30px;
    text-align: center;
    font-size: 25px;
}

.contactPhone{
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 25px;
}

.contactEmail{
    padding-top: 10px;
    padding-bottom: 55px;
}

.contactAddress{
    padding-top: 10px;

    padding-bottom: 10px;
}

.contactBlurb{
    padding-bottom: 10px;
}



.carousel-image{
    padding: 0px !important;
}


.carousel-caption div{
    font-size: 40px;
    color: white;
    font-weight: 700;

}

.carousel-indicators li { visibility: hidden; }


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px !important;
  width: 50px !important;
  background-size: 100%, 100%;
}

.recpro {margin-bottom: 20px;
}

.rempad {
    padding:0px !important;
}
